:root {
  --main: #0060aa;
  --main-deep: #02335b;
  --light: #cfe4f7;
  --dark: #211e25;
  --semi-dark: #2e2c35;
  --gray: #7a879c;
  --hoodie-color: #c5b9b3;
  /* Suggested hoodie color */
  //   --main: #0060aa;
  //   --main-deep: #004080;
  //   --light: #aad5ff;
  //   --dark: #211e25;
  //   --semi-dark: #2f293ae8;
  //   --gray: #8892b0;
  //   --hoodie-color: #d8c8b9;
  /* 
    #0060AA
    MAIN COMBO 
    --main: turquoise;
    --main-deep: #20524c;
    --light: #ccd6f6;
    
    COMBO 1 
    --main: #ff7f50;
    --main-deep: #3B2A21;
    --light: #f0e6d2;
    
    COMBO 2 
    --main: #73f473;
    --main-deep: #014001;
    --light: #e0ffff;

    COMBO 3
    --main: #4169e1;  
    --main-deep: #001f3f;  
    --light: #d3d3d3; 

    COMBO 4
    --main: #9932cc;  
    --main-deep: #4b0082;  
    --light: #d8bfd8; 

   COMBO 4   
    --main: #ff4500;  
    --main-deep: #8b2500;  
    --light: #ffe4e1;  

    
   COMBO 5 (LOGO DESIGN COLOR)
    --main: #0060AA ;  
    --main-deep: #004080;  
    --light: #aad5ff;  
    */
}
