:root {
    --main: turquoise;
    --main-deep: #20524c;
    --light: #ccd6f6;
    --dark: #211e25;
    --semi-dark: #2f293ae8;
    --gray: #8892b0;
    --hoodie-color: #d8c8b9;
    /* 
    MAIN COMBO 
    --main: turquoise;
    --main-deep: #20524c;
    --light: #ccd6f6;
    
    COMBO 1 
    --main: #ff7f50;
    --main-deep: #3B2A21;
    --light: #f0e6d2;
    
    COMBO 2 
    --main: #73f473;
    --main-deep: #014001;
    --light: #e0ffff;

    COMBO 3
    --main: #4169e1;  
    --main-deep: #001f3f;  
    --light: #d3d3d3; 

    COMBO 4
    --main: #9932cc;  
    --main-deep: #4b0082;  
    --light: #d8bfd8; 

   COMBO 4   
    --main: #ff4500;  
    --main-deep: #8b2500;  
    --light: #ffe4e1;  
    */
}